.container-nav{
    overflow:hidden;
}
.box{
    white-space:nowrap
}
.box div{
    display:inline-block;
}
.left{
    /* margin-right: 60%; */
}
.center{
    margin-left: 25%;
    margin-right: 25%;
}